@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body{
    background-color: #161616;
    overflow: hidden;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}